body
{
	background-color: #c2c6ce;
}
.nav-wrapper
{
	padding-left:1%;
}
.col.s12
{
	padding-left:0%;
	padding-right:0%;
}
a, span
{
	font-family: "Duru Sans";
}
#dashtitle
{
	font-size: 1.5vmax;
	font-weight:bold;
}
#rst
{
	font-size: 1.3vmax;
}
.card.grey.lighten-3
{
	position:relative;
	padding-left:5em;
	padding-right:5em;
	padding-bottom: 3em;
	padding-top:3em;
	border-radius: 20px;
}
.card.deep-orange.lighten-2
{
	position: absolute;
	top:23%;
	left:35%;
	width: 10%; 
	z-index:1;
	border-radius:10px;
}
.container.txt
{
	margin-top:10%;
}
