/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

          
body {
  background-color: #23272A;
  color: white;
}

.nav-dash, .dash-content {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  .nav-dash, .dash-content {
    padding-left: 0;
  }
}


#dropdown1 {
  background-color: #2C2F33;
}

#nav-mobile {
  background-color: #24272A;
}

#nav-dash {
  background-color: #24272A;
}

.btn-large {
  background-color: #7289DA;
}

.btn-large:hover {
  background-color: #7289DA;
}

.btn-large:visited {
  background-color: #7289DA;
}

nav {
  background-color: #7289DA;
  /* z-index: 0; */
}

#dashbots {
  font-family: 'Bowlby One SC', cursive;
  color: #7289DA;
  user-select: none;
}

.nav-icon {
  vertical-align: middle; 
  margin-left: 10px;
}

.discord {
  color: #7289DA;
}


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}