{% extends 'base.html' %}
{% block navbar %} {% include '_dash-navbar.html' %} {% endblock %}

{% macro stats_card(name, content, description, icon, m=3, s=6, l=3)%}
<div class="col m{{m}} s{{s}} l{{l}}">
    <div class="card hoverable white-text" style='background-color: rgb(106, 122, 182)'>
        <div class="card-content">
            <div class="row">
                <div class="col s12 no-padding"> <span class="card-title activator white-text text-darken-4">
                    {% if content == 'uptime' %}
                    <span id='{{ content }}'class='right'>Loading...</span>
                    {% else %}
                    <span id='{{ content }}'class='right'>{{ bot.stats[content] }}</span>
                    {% endif %}
                    <i class="material-icons left">{{ icon }}</i></span>
                </div>
            </div>
        </div>
        <div class="card-action" style='background-color:#2E2F33'>{{ name }}</div>
        <div class="card-reveal" style='background-color:#2E2F33'><span class="card-title white-text">{{ name }}</span>
            <p class='grey-text'>{{ description }}</p>
        </div>
    </div>
</div>
{% endmacro %}

{% block content %} 
<main class='dash-content'>
    <div class="row">
        {{ stats_card('Uptime', 'uptime', 'How long the bot has been online for.', 'access_time', m=4, l=3, s=12) }}
        {{ stats_card('Ping', 'ping', "The bot's websocket API latency.", 'flash_on', m=4, l=3, s=12) }}
        {{ stats_card('CPU Usage', 'cpu_usage', 'Current CPU usage for the bot.', 'developer_board', m=4, l=3, s=12) }}
        {{ stats_card('RAM Usage', 'ram_usage', 'Did you think clicking this would clear up some ram?', 'clear_all', m=4, l=3, s=12) }}
        {{ stats_card('Guilds', 'servers', 'The number of discord servers the bot is in.', 'storage', m=2, l=2) }}
        {{ stats_card('Users', 'users', 'The number of discord users the bot can see.', 'people', l=2) }}
        {{ stats_card('Text Channels', 'text_channels', 'How many discord text channels the bot can see.', 'textsms', m=3, l=3) }}
        {{ stats_card('Voice Channels', 'voice_channels', 'How many discord voice channels the bot can see.', 'mic', m=3, l=3) }}
    </div> 
</main>

<script>
    // Set the date we're counting down to
    var countDownDate = new Date({{ bot.stats.uptime }});
    
    // Update the count down every 1 second
    var x = setInterval(function() {
    
      // Get todays date and time
      var now = new Date();
    
      // Find the distance between now an the count down date
      var distance = now - countDownDate;
    
      // Time calculations for days, hours, minutes and seconds
      var days = Math.floor(distance / (1000 * 60 * 60 * 24));
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
      // Display the result in the element with id="demo"
      let fmt = '';
      if (days) fmt += days + 'd ';
      if (hours) fmt += hours + 'h ';
      if (minutes) fmt += minutes + 'm ';
      if (seconds) fmt += seconds + 's';
      document.getElementById("uptime").innerHTML = fmt;
    
      // If the count down is finished, write some text 
      if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "EXPIRED";
      }
    }, 1000);
</script>
{% endblock %}