{% extends 'base.html' %}
{% block navbar %} {% include 'dash-navbar.html' %} {% endblock %}
{% block content %} 
<main class='dash-content'>
<div class="row">
    <div class="col l3 s12 m6">
        <div class="card hoverable grey darken-3 white-text">
            <div class="card-content">
                <div class="row">
                    <div class="col s2 l2 no-padding"> <i class="material-icons home_cards_icon">pie_chart</i></div>
                    <div class="col s10 l10 no-padding"> <span class="card-title white-text activator text-darken-4">2000<i class="material-icons right">more_vert</i></span>
                    <p>Sample data</p>
                    <p class="large"><i class="material-icons">keyboard_arrow_up</i> 20% from last week</p>
                    </div>
                </div>
            </div>
        <div class="card-action" style='background-color: #768AD4'> <span class="dynamicsparkline">Loading..</span> </div>
        <div class="card-reveal"> <span class="card-title grey-text text-darken-4">Information<i class="material-icons right">close</i></span>
            <p>This is going good, You have to increase marketing with social media. You can help us with sharing and pusrchasing this template</p>
        </div>
        </div>
    </div>
</div> 

</main>
{% endblock %}