{% include 'header.html' %}
        <br>
        <br>
        <div class="container">
            <a>
                <img class="circle responsive-img" alt="" height="128" id='avatar' src="{{ user.avatar_url_as(size=256) }}">Hello {{ user.name }}!
            </a>
            {% if user.bots %} {% for bot in user.bots %}
                <li> {{ bot }} </li>
            {% else %}
                <p> You dont own any custom bot at the moment... </p>
            {% endif %}
{% include 'footer.html' %}
