    

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                    {{botname}}
                </a>
            </div>
            <ul class="nav">
                <li class="{{index}}">
                    <a href="/">
                        <i class="pe-7s-graph"></i>
                        <p>Statistics</p>
                    </a>
                </li>
                <li class="{{bot}}">
                    <a href="/bot">
                        <i class="pe-7s-user"></i>
                        <p>Bot Profile</p>
                    </a>
                </li>
                <li class="{{config}}">
                    <a href="/config">
                        <i class="pe-7s-note2"></i>
                        <p>Configuration</p>
                    </a>
                </li>
                <li class="{{commands}}">
                    <a href="/commands">
                        <i class="pe-7s-news-paper"></i>
                        <p>Command List</p>
                    </a>
                </li>
            </ul>
        </div>

